:root {
  --col02: #c8ffbe;
  --col01: #00916e;
}

body {
  background-color: var(--col02);
  color: var(--col01);
}

div {
  display: flex;
  margin-top: 20%;
  margin-bottom: 20%;
  justify-content: center;
  font-size: 10rem;
}
