:root {
  --col02: #c8ffbe;
  --col01: #00916e;
}

body {
  background-color: var(--col02);
  color: var(--col01);
}

img {
  height: 200px;
}

.imageDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
