:root {
  --col02: #c8ffbe;
  --col01: #00916e;
  --col03: #6dd6ac;
}

body {
  background-color: var(--col02);
  color: var(--col01);
  max-width: 1400px;
  margin: auto;
  margin-top: 3rem;
  background-color: rgba(0, 0, 0, 0);
}

img {
  height: 200px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.imageDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  border-style: solid;
  border-color: var(--col03);
  border-radius: 1rem;
  border-width: 0.75rem;
}

.bodyCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.sliderCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 80%;
}

button {
  border: none;
  background-color: var(--col01);
  color: var(--col02);
  border-radius: 10rem;
  font-size: 7rem;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.buttonCont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

button:hover {
  background-color: var(--col03);
}

button:active {
  scale: 0.9;
}

#mute,
#reverb {
  width: 190px;
  height: 140px;
  font-size: 5rem;
  border-radius: 10rem;
}

dialog[open] {
  margin: auto; /* place in centre */
  padding: 1rem;
  background-color: var(--col01);
  color: var(--col02);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
}
dialog::backdrop {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* background overlay when modal is open */
}

#dialogCloseButton {
  background-color: var(--col03);
  color: var(--col02);
  border: none;
  padding: 0 1rem;
  font-size: 2rem;
  height: 100px;
  width: 100px;
}

.pressed {
  background-color: var(--col03);
}

/* range style information, omfg why is this so complicated dawg */
input[type="range"] {
  width: 100%;
  margin: 9.4px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--col03);
  border-radius: 10.8px;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -9.6px;
  width: 50px;
  height: 50px;
  background: var(--col01);
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--col03);
}
input[type="range"]::-moz-range-track {
  background: var(--col03);
  border-radius: 10.8px;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 50px;
  height: 50px;
  background: var(--col01);
  border-radius: 50px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.4px 0;
  color: transparent;
  width: 100%;
  height: 31.2px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: var(--col03);
  border: 0.2px solid var(--col03);
  border-radius: 21.6px;
}
input[type="range"]::-ms-fill-upper {
  background: var(--col03);
  border: 0.2px solid var(--col03);
  border-radius: 21.6px;
}
input[type="range"]::-ms-thumb {
  width: 50px;
  height: 50px;
  background: var(--col01);
  border: 10px solid var(--col01);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--col03);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--col03);
}
@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}
